.form-container{
    max-width: 400px;
    margin: 20px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 250px;
}

.form-group{
    margin-bottom: 15px;
}

label{
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
button{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button{
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.dropdown-container{
    width: 400px;
    margin: 15px;
}

.dropdown{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}

.dropdown option{
    background-color: #fff;
    color: #333;
}